<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Inicio - Engenharia II</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
    <div id="MenuSuperior">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand Titulo" href="#">Biblioteca Fisic Flix</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/SobreNos">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Login">Acesso</a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="ConteudoPagina">

    </div>

    <div id="Rodape">
        <footer class="fixarRodape">
            <hr />
            <p> @DateTime.Now.Year - Fisic Flix - Engenharia II</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>